<!DOCTYPE html>
<html>
  <head>
    <title>feedme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>

  <script type='text/javascript'>
    window.arrowRightURL = "<%= image_url('arrow-right.svg') %>"
    window.youtubeURL = "<%= image_url('youtube-svgrepo-com.svg') %>"
    window.rssURL = "<%= image_url('rss-svgrepo-com.svg') %>"
    
    window.twitterURL = "<%= image_url('twitter-svgrepo-com.svg') %>"
    

  </script>

  

  <body>
    <%= yield %>
  </body>
</html>
