<!DOCTYPE html>
<html>
  <head>
    <title>feedme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <script type='text/javascript'>
    window.feedmeURL = "<%= image_url('feedly.svg') %>"
    window.flashlightURL = "<%= image_url('flashlight.svg') %>"
    window.readURL = "<%= image_url('read.svg') %>"
    window.arrowRightURL = "<%= image_url('arrow-right.svg') %>"
    window.youtubeURL = "<%= image_url('youtube-svgrepo-com.svg') %>"
    window.rssURL = "<%= image_url('rss-svgrepo-com.svg') %>"
    window.laptopURL = "<%= image_url('laptop-svgrepo-com.svg') %>"
    window.twitterURL = "<%= image_url('twitter-svgrepo-com.svg') %>"
    window.plusURL = "<%= image_url('plus-signs-svgrepo-com.svg') %>"
    window.splashURL = "<%= image_url('capture2.JPG') %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
