<!DOCTYPE html>
<html>
  <head>
    <title>feedme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico/" />
  </head>

  <script type='text/javascript'>
    window.arrowRightURL = "<%= image_url('arrow-right.svg') %>"
    window.splashURL = "<%= image_url('splash.jpg') %>"

    

  </script>

  

  <body>
    <%= yield %>
  </body>
</html>
