<!DOCTYPE html>
<html>
  <head>
    <title>feedme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <script type='text/javascript'>
    window.feedmeURL = "<%= image_url('feedly.svg') %>"
    window.flashlightURL = "<%= image_url('flashlight.svg') %>"
    window.readURL = "<%= image_url('read.svg') %>"
    window.arrowRightURL = "<%= image_url('arrow-right.svg') %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
